body {
    background-color: hsl(188, 82%, 85%);
}

.header {
    display: flex;
    justify-content: center;
}

.header p{
    font-size: 25px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

Section { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.TempSection {
    display: flex;
    justify-content: center;
}

.TempSection p {
    padding: 10px;
}